<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Craftsmaneer.DataToolUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataToolUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Craftsmaneer.DataToolUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Craftsmaneer.DataToolUtils.Properties.Settings>
            <setting name="txtConnStr_Text" serializeAs="String">
                <value>Data Source=(localdb)\v11.0;Initial Catalog=DataDiff;Integrated Security=True</value>
            </setting>
            <setting name="txtExportPath_Text" serializeAs="String">
                <value>D:\tfs\rdb\projects\DataTools\Export</value>
            </setting>
            <setting name="txtImportDataTablePath_Text" serializeAs="String">
                <value>D:\tfs\rdb\projects\DataTools\Export</value>
            </setting>
            <setting name="txtMasterDataTableSet_Text" serializeAs="String">
                <value>Data Source=(server);Initial Catalog=(database);Integrated Security=True</value>
            </setting>
            <setting name="txtReplicaDtSet_Text" serializeAs="String">
                <value>Data Source=(server);Initial Catalog=(database);Integrated Security=True</value>
            </setting>
            <setting name="chkIgnoreWhitespace_Checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtWorkingFolder_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="txtSourceDatabase_Text" serializeAs="String">
                <value>Data Source=(server);Initial Catalog=(database);Integrated Security=True</value>
            </setting>
            <setting name="txtTargetDatabase_Text" serializeAs="String">
                <value>Data Source=(server);Initial Catalog=(database);Integrated Security=True</value>
            </setting>
        </Craftsmaneer.DataToolUtils.Properties.Settings>
        <DataToolUtils.Properties.Settings>
            <setting name="txtConnStr_Text" serializeAs="String">
                <value>Data Source=(localdb)\v11.0;Initial Catalog=DataDiff;Integrated Security=True</value>
            </setting>
            <setting name="txtExportPath_Text" serializeAs="String">
                <value>D:\tfs\rdb\projects\DataTools\Export</value>
            </setting>
            <setting name="txtImportDataTablePath_Text" serializeAs="String">
                <value>D:\tfs\rdb\projects\DataTools\Export</value>
            </setting>
        </DataToolUtils.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Craftsmaneer.DataToolUtils.Properties.Settings>
            <setting name="workspaceRoot" serializeAs="String">
                <value />
            </setting>
        </Craftsmaneer.DataToolUtils.Properties.Settings>
    </applicationSettings>
</configuration>