<?xml version="1.0" encoding="utf-8"?>
<DataTableCollection>
  <Type>Folder</Type>
  <FolderPath>FolderDTC</FolderPath>
  <Tables>
    <Table>dbo.AWBuildVersion</Table>
    <Table>dbo.DatabaseLog</Table>
    <Table>dbo.ErrorLog</Table>
    <Table>HumanResources.Department</Table>
    <Table>HumanResources.Employee</Table>
    <Table>HumanResources.EmployeeDepartmentHistory</Table>
    <Table>HumanResources.EmployeePayHistory</Table>
    <Table>HumanResources.JobCandidate</Table>
    <Table>HumanResources.Shift</Table>
    <Table>HumanResources.vEmployee</Table>
    <Table>HumanResources.vEmployeeDepartment</Table>
    <Table>HumanResources.vEmployeeDepartmentHistory</Table>
    <Table>HumanResources.vJobCandidate</Table>
    <Table>HumanResources.vJobCandidateEducation</Table>
    <Table>HumanResources.vJobCandidateEmployment</Table>
    <Table>Person.Address</Table>
    <Table>Person.AddressType</Table>
    <Table>Person.BusinessEntity</Table>
    <Table>Person.BusinessEntityAddress</Table>
    <Table>Person.BusinessEntityContact</Table>
    <Table>Person.ContactType</Table>
    <Table>Person.CountryRegion</Table>
    <Table>Person.EmailAddress</Table>
    <Table>Person.Password</Table>
    <Table>Person.Person</Table>
    <Table>Person.PersonPhone</Table>
    <Table>Person.PhoneNumberType</Table>
    <Table>Person.StateProvince</Table>
    <Table>Person.vAdditionalContactInfo</Table>
    <Table>Person.vStateProvinceCountryRegion</Table>
    <Table>Production.BillOfMaterials</Table>
    <Table>Production.Culture</Table>
    <Table>Production.Document</Table>
    <Table>Production.Illustration</Table>
    <Table>Production.Location</Table>
    <Table>Production.Product</Table>
    <Table>Production.ProductCategory</Table>
    <Table>Production.ProductCostHistory</Table>
    <Table>Production.ProductDescription</Table>
    <Table>Production.ProductDocument</Table>
    <Table>Production.ProductInventory</Table>
    <Table>Production.ProductListPriceHistory</Table>
    <Table>Production.ProductModel</Table>
    <Table>Production.ProductModelIllustration</Table>
    <Table>Production.ProductModelProductDescriptionCulture</Table>
    <Table>Production.ProductPhoto</Table>
    <Table>Production.ProductProductPhoto</Table>
    <Table>Production.ProductReview</Table>
    <Table>Production.ProductSubcategory</Table>
    <Table>Production.ScrapReason</Table>
    <Table>Production.TransactionHistory</Table>
    <Table>Production.TransactionHistoryArchive</Table>
    <Table>Production.UnitMeasure</Table>
    <Table>Production.vProductAndDescription</Table>
    <Table>Production.vProductModelCatalogDescription</Table>
    <Table>Production.vProductModelInstructions</Table>
    <Table>Production.WorkOrder</Table>
    <Table>Production.WorkOrderRouting</Table>
    <Table>Purchasing.ProductVendor</Table>
    <Table>Purchasing.PurchaseOrderDetail</Table>
    <Table>Purchasing.PurchaseOrderHeader</Table>
    <Table>Purchasing.ShipMethod</Table>
    <Table>Purchasing.Vendor</Table>
    <Table>Purchasing.vVendorWithAddresses</Table>
    <Table>Purchasing.vVendorWithContacts</Table>
    <Table>Sales.CountryRegionCurrency</Table>
    <Table>Sales.CreditCard</Table>
    <Table>Sales.Currency</Table>
    <Table>Sales.CurrencyRate</Table>
    <Table>Sales.Customer</Table>
    <Table>Sales.PersonCreditCard</Table>
    <Table>Sales.SalesOrderDetail</Table>
    <Table>Sales.SalesOrderHeader</Table>
    <Table>Sales.SalesOrderHeaderSalesReason</Table>
    <Table>Sales.SalesPerson</Table>
    <Table>Sales.SalesPersonQuotaHistory</Table>
    <Table>Sales.SalesReason</Table>
    <Table>Sales.SalesTaxRate</Table>
    <Table>Sales.SalesTerritory</Table>
    <Table>Sales.SalesTerritoryHistory</Table>
    <Table>Sales.ShoppingCartItem</Table>
    <Table>Sales.SpecialOffer</Table>
    <Table>Sales.SpecialOfferProduct</Table>
    <Table>Sales.Store</Table>
    <Table>Sales.vIndividualCustomer</Table>
    <Table>Sales.vPersonDemographics</Table>
    <Table>Sales.vSalesPerson</Table>
    <Table>Sales.vSalesPersonSalesByFiscalYears</Table>
    <Table>Sales.vStoreWithAddresses</Table>
    <Table>Sales.vStoreWithContacts</Table>
    <Table>Sales.vStoreWithDemographics</Table>
  </Tables>
</DataTableCollection>