<appSettings>
  <!-- Data serialization test settings.-->
   <add key="DataToolsConnectionString" value="Data Source=(localdb)\v11.0;Initial Catalog=DataTools;User ID=DataToolsSerTestLogin;Password=Password1"/>
  <add key="DataDiffConnectionString" value="Data Source=(localdb)\v11.0;Initial Catalog=DataDiff;User ID=DataToolsSerTestLogin;Password=Password1"/>
</appSettings>