<appSettings>
  <!-- Data serialization test settings.-->
   <add key="DataToolsConnectionString" value="Data Source=dev-sql5501v;Initial Catalog=DataTools;User ID=DataToolsSerTestLogin;Password=Password1"/>
  <add key="DataDiffConnectionString" value="Data Source=dev-sql5501v;Initial Catalog=DataDiff;User ID=DataToolsSerTestLogin;Password=Password1"/>
</appSettings>