<?xml version="1.0" encoding="utf-8"?>
<DataTableCollection>
  <Type>Folder</Type>
  <FolderPath>FolderDTC</FolderPath>
  <Tables>
   
    <Table>HumanResources.Employee</Table>
    <Table>HumanResources.Department</Table> <!-- this table isn't in the replica collection.-->


  </Tables>
</DataTableCollection>