use DataDiff
go
if not exists (select * from sys.key_constraints where name = 'PK_ErrorLog_ErrorLogID') ALTER TABLE dbo.ErrorLog ADD  CONSTRAINT [PK_ErrorLog_ErrorLogID] PRIMARY KEY CLUSTERED (	[ErrorLogID])
if not exists (select * from sys.key_constraints where name = 'PK_Address_AddressID') ALTER TABLE Person.Address ADD  CONSTRAINT [PK_Address_AddressID] PRIMARY KEY CLUSTERED (	[AddressID])
if not exists (select * from sys.key_constraints where name = 'PK_AddressType_AddressTypeID') ALTER TABLE Person.AddressType ADD  CONSTRAINT [PK_AddressType_AddressTypeID] PRIMARY KEY CLUSTERED (	[AddressTypeID])
if not exists (select * from sys.key_constraints where name = 'PK_AWBuildVersion_SystemInformationID') ALTER TABLE dbo.AWBuildVersion ADD  CONSTRAINT [PK_AWBuildVersion_SystemInformationID] PRIMARY KEY CLUSTERED (	[SystemInformationID])
if not exists (select * from sys.key_constraints where name = 'PK_BillOfMaterials_BillOfMaterialsID') ALTER TABLE Production.BillOfMaterials ADD  CONSTRAINT [PK_BillOfMaterials_BillOfMaterialsID] PRIMARY KEY CLUSTERED (	[BillOfMaterialsID])
if not exists (select * from sys.key_constraints where name = 'PK_BusinessEntity_BusinessEntityID') ALTER TABLE Person.BusinessEntity ADD  CONSTRAINT [PK_BusinessEntity_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_BusinessEntityAddress_BusinessEntityID_AddressID_AddressTypeID') ALTER TABLE Person.BusinessEntityAddress ADD  CONSTRAINT [PK_BusinessEntityAddress_BusinessEntityID_AddressID_AddressTypeID] PRIMARY KEY CLUSTERED (	[AddressID], [AddressTypeID], [BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_BusinessEntityContact_BusinessEntityID_PersonID_ContactTypeID') ALTER TABLE Person.BusinessEntityContact ADD  CONSTRAINT [PK_BusinessEntityContact_BusinessEntityID_PersonID_ContactTypeID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [ContactTypeID], [PersonID])
if not exists (select * from sys.key_constraints where name = 'PK_ContactType_ContactTypeID') ALTER TABLE Person.ContactType ADD  CONSTRAINT [PK_ContactType_ContactTypeID] PRIMARY KEY CLUSTERED (	[ContactTypeID])
if not exists (select * from sys.key_constraints where name = 'PK_CountryRegionCurrency_CountryRegionCode_CurrencyCode') ALTER TABLE Sales.CountryRegionCurrency ADD  CONSTRAINT [PK_CountryRegionCurrency_CountryRegionCode_CurrencyCode] PRIMARY KEY CLUSTERED (	[CountryRegionCode], [CurrencyCode])
if not exists (select * from sys.key_constraints where name = 'PK_CountryRegion_CountryRegionCode') ALTER TABLE Person.CountryRegion ADD  CONSTRAINT [PK_CountryRegion_CountryRegionCode] PRIMARY KEY CLUSTERED (	[CountryRegionCode])
if not exists (select * from sys.key_constraints where name = 'PK_CreditCard_CreditCardID') ALTER TABLE Sales.CreditCard ADD  CONSTRAINT [PK_CreditCard_CreditCardID] PRIMARY KEY CLUSTERED (	[CreditCardID])
if not exists (select * from sys.key_constraints where name = 'PK_Culture_CultureID') ALTER TABLE Production.Culture ADD  CONSTRAINT [PK_Culture_CultureID] PRIMARY KEY CLUSTERED (	[CultureID])
if not exists (select * from sys.key_constraints where name = 'PK_Currency_CurrencyCode') ALTER TABLE Sales.Currency ADD  CONSTRAINT [PK_Currency_CurrencyCode] PRIMARY KEY CLUSTERED (	[CurrencyCode])
if not exists (select * from sys.key_constraints where name = 'PK_CurrencyRate_CurrencyRateID') ALTER TABLE Sales.CurrencyRate ADD  CONSTRAINT [PK_CurrencyRate_CurrencyRateID] PRIMARY KEY CLUSTERED (	[CurrencyRateID])
if not exists (select * from sys.key_constraints where name = 'PK_Customer_CustomerID') ALTER TABLE Sales.Customer ADD  CONSTRAINT [PK_Customer_CustomerID] PRIMARY KEY CLUSTERED (	[CustomerID])
if not exists (select * from sys.key_constraints where name = 'PK_DatabaseLog_DatabaseLogID') ALTER TABLE dbo.DatabaseLog ADD  CONSTRAINT [PK_DatabaseLog_DatabaseLogID] PRIMARY KEY CLUSTERED (	[DatabaseLogID])
if not exists (select * from sys.key_constraints where name = 'PK_Department_DepartmentID') ALTER TABLE HumanResources.Department ADD  CONSTRAINT [PK_Department_DepartmentID] PRIMARY KEY CLUSTERED (	[DepartmentID])
if not exists (select * from sys.key_constraints where name = 'PK_Document_DocumentNode') ALTER TABLE Production.Document ADD  CONSTRAINT [PK_Document_DocumentNode] PRIMARY KEY CLUSTERED (	[DocumentNode])
if not exists (select * from sys.key_constraints where name = 'PK_EmailAddress_BusinessEntityID_EmailAddressID') ALTER TABLE Person.EmailAddress ADD  CONSTRAINT [PK_EmailAddress_BusinessEntityID_EmailAddressID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [EmailAddressID])
if not exists (select * from sys.key_constraints where name = 'PK_Employee_BusinessEntityID') ALTER TABLE HumanResources.Employee ADD  CONSTRAINT [PK_Employee_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_EmployeeDepartmentHistory_BusinessEntityID_StartDate_DepartmentID') ALTER TABLE HumanResources.EmployeeDepartmentHistory ADD  CONSTRAINT [PK_EmployeeDepartmentHistory_BusinessEntityID_StartDate_DepartmentID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [DepartmentID], [ShiftID], [StartDate])
if not exists (select * from sys.key_constraints where name = 'PK_EmployeePayHistory_BusinessEntityID_RateChangeDate') ALTER TABLE HumanResources.EmployeePayHistory ADD  CONSTRAINT [PK_EmployeePayHistory_BusinessEntityID_RateChangeDate] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [RateChangeDate])
if not exists (select * from sys.key_constraints where name = 'PK_Illustration_IllustrationID') ALTER TABLE Production.Illustration ADD  CONSTRAINT [PK_Illustration_IllustrationID] PRIMARY KEY CLUSTERED (	[IllustrationID])
if not exists (select * from sys.key_constraints where name = 'PK_JobCandidate_JobCandidateID') ALTER TABLE HumanResources.JobCandidate ADD  CONSTRAINT [PK_JobCandidate_JobCandidateID] PRIMARY KEY CLUSTERED (	[JobCandidateID])
if not exists (select * from sys.key_constraints where name = 'PK_Location_LocationID') ALTER TABLE Production.Location ADD  CONSTRAINT [PK_Location_LocationID] PRIMARY KEY CLUSTERED (	[LocationID])
if not exists (select * from sys.key_constraints where name = 'PK_Password_BusinessEntityID') ALTER TABLE Person.Password ADD  CONSTRAINT [PK_Password_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_Person_BusinessEntityID') ALTER TABLE Person.Person ADD  CONSTRAINT [PK_Person_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_PersonCreditCard_BusinessEntityID_CreditCardID') ALTER TABLE Sales.PersonCreditCard ADD  CONSTRAINT [PK_PersonCreditCard_BusinessEntityID_CreditCardID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [CreditCardID])
if not exists (select * from sys.key_constraints where name = 'PK_PersonPhone_BusinessEntityID_PhoneNumber_PhoneNumberTypeID') ALTER TABLE Person.PersonPhone ADD  CONSTRAINT [PK_PersonPhone_BusinessEntityID_PhoneNumber_PhoneNumberTypeID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [PhoneNumber], [PhoneNumberTypeID])
if not exists (select * from sys.key_constraints where name = 'PK_PhoneNumberType_PhoneNumberTypeID') ALTER TABLE Person.PhoneNumberType ADD  CONSTRAINT [PK_PhoneNumberType_PhoneNumberTypeID] PRIMARY KEY CLUSTERED (	[PhoneNumberTypeID])
if not exists (select * from sys.key_constraints where name = 'PK_Product_ProductID') ALTER TABLE Production.Product ADD  CONSTRAINT [PK_Product_ProductID] PRIMARY KEY CLUSTERED (	[ProductID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductCategory_ProductCategoryID') ALTER TABLE Production.ProductCategory ADD  CONSTRAINT [PK_ProductCategory_ProductCategoryID] PRIMARY KEY CLUSTERED (	[ProductCategoryID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductCostHistory_ProductID_StartDate') ALTER TABLE Production.ProductCostHistory ADD  CONSTRAINT [PK_ProductCostHistory_ProductID_StartDate] PRIMARY KEY CLUSTERED (	[ProductID], [StartDate])
if not exists (select * from sys.key_constraints where name = 'PK_ProductDescription_ProductDescriptionID') ALTER TABLE Production.ProductDescription ADD  CONSTRAINT [PK_ProductDescription_ProductDescriptionID] PRIMARY KEY CLUSTERED (	[ProductDescriptionID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductDocument_ProductID_DocumentNode') ALTER TABLE Production.ProductDocument ADD  CONSTRAINT [PK_ProductDocument_ProductID_DocumentNode] PRIMARY KEY CLUSTERED (	[DocumentNode], [ProductID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductInventory_ProductID_LocationID') ALTER TABLE Production.ProductInventory ADD  CONSTRAINT [PK_ProductInventory_ProductID_LocationID] PRIMARY KEY CLUSTERED (	[LocationID], [ProductID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductListPriceHistory_ProductID_StartDate') ALTER TABLE Production.ProductListPriceHistory ADD  CONSTRAINT [PK_ProductListPriceHistory_ProductID_StartDate] PRIMARY KEY CLUSTERED (	[ProductID], [StartDate])
if not exists (select * from sys.key_constraints where name = 'PK_ProductModel_ProductModelID') ALTER TABLE Production.ProductModel ADD  CONSTRAINT [PK_ProductModel_ProductModelID] PRIMARY KEY CLUSTERED (	[ProductModelID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductModelIllustration_ProductModelID_IllustrationID') ALTER TABLE Production.ProductModelIllustration ADD  CONSTRAINT [PK_ProductModelIllustration_ProductModelID_IllustrationID] PRIMARY KEY CLUSTERED (	[IllustrationID], [ProductModelID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductModelProductDescriptionCulture_ProductModelID_ProductDescriptionID_CultureID') ALTER TABLE Production.ProductModelProductDescriptionCulture ADD  CONSTRAINT [PK_ProductModelProductDescriptionCulture_ProductModelID_ProductDescriptionID_CultureID] PRIMARY KEY CLUSTERED (	[CultureID], [ProductDescriptionID], [ProductModelID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductPhoto_ProductPhotoID') ALTER TABLE Production.ProductPhoto ADD  CONSTRAINT [PK_ProductPhoto_ProductPhotoID] PRIMARY KEY CLUSTERED (	[ProductPhotoID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductProductPhoto_ProductID_ProductPhotoID') ALTER TABLE Production.ProductProductPhoto ADD  CONSTRAINT [PK_ProductProductPhoto_ProductID_ProductPhotoID] PRIMARY KEY CLUSTERED (	[ProductID], [ProductPhotoID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductReview_ProductReviewID') ALTER TABLE Production.ProductReview ADD  CONSTRAINT [PK_ProductReview_ProductReviewID] PRIMARY KEY CLUSTERED (	[ProductReviewID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductSubcategory_ProductSubcategoryID') ALTER TABLE Production.ProductSubcategory ADD  CONSTRAINT [PK_ProductSubcategory_ProductSubcategoryID] PRIMARY KEY CLUSTERED (	[ProductSubcategoryID])
if not exists (select * from sys.key_constraints where name = 'PK_ProductVendor_ProductID_BusinessEntityID') ALTER TABLE Purchasing.ProductVendor ADD  CONSTRAINT [PK_ProductVendor_ProductID_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [ProductID])
if not exists (select * from sys.key_constraints where name = 'PK_PurchaseOrderDetail_PurchaseOrderID_PurchaseOrderDetailID') ALTER TABLE Purchasing.PurchaseOrderDetail ADD  CONSTRAINT [PK_PurchaseOrderDetail_PurchaseOrderID_PurchaseOrderDetailID] PRIMARY KEY CLUSTERED (	[PurchaseOrderDetailID], [PurchaseOrderID])
if not exists (select * from sys.key_constraints where name = 'PK_PurchaseOrderHeader_PurchaseOrderID') ALTER TABLE Purchasing.PurchaseOrderHeader ADD  CONSTRAINT [PK_PurchaseOrderHeader_PurchaseOrderID] PRIMARY KEY CLUSTERED (	[PurchaseOrderID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID') ALTER TABLE Sales.SalesOrderDetail ADD  CONSTRAINT [PK_SalesOrderDetail_SalesOrderID_SalesOrderDetailID] PRIMARY KEY CLUSTERED (	[SalesOrderDetailID], [SalesOrderID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesOrderHeader_SalesOrderID') ALTER TABLE Sales.SalesOrderHeader ADD  CONSTRAINT [PK_SalesOrderHeader_SalesOrderID] PRIMARY KEY CLUSTERED (	[SalesOrderID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesOrderHeaderSalesReason_SalesOrderID_SalesReasonID') ALTER TABLE Sales.SalesOrderHeaderSalesReason ADD  CONSTRAINT [PK_SalesOrderHeaderSalesReason_SalesOrderID_SalesReasonID] PRIMARY KEY CLUSTERED (	[SalesOrderID], [SalesReasonID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesPerson_BusinessEntityID') ALTER TABLE Sales.SalesPerson ADD  CONSTRAINT [PK_SalesPerson_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesPersonQuotaHistory_BusinessEntityID_QuotaDate') ALTER TABLE Sales.SalesPersonQuotaHistory ADD  CONSTRAINT [PK_SalesPersonQuotaHistory_BusinessEntityID_QuotaDate] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [QuotaDate])
if not exists (select * from sys.key_constraints where name = 'PK_SalesReason_SalesReasonID') ALTER TABLE Sales.SalesReason ADD  CONSTRAINT [PK_SalesReason_SalesReasonID] PRIMARY KEY CLUSTERED (	[SalesReasonID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesTaxRate_SalesTaxRateID') ALTER TABLE Sales.SalesTaxRate ADD  CONSTRAINT [PK_SalesTaxRate_SalesTaxRateID] PRIMARY KEY CLUSTERED (	[SalesTaxRateID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesTerritory_TerritoryID') ALTER TABLE Sales.SalesTerritory ADD  CONSTRAINT [PK_SalesTerritory_TerritoryID] PRIMARY KEY CLUSTERED (	[TerritoryID])
if not exists (select * from sys.key_constraints where name = 'PK_SalesTerritoryHistory_BusinessEntityID_StartDate_TerritoryID') ALTER TABLE Sales.SalesTerritoryHistory ADD  CONSTRAINT [PK_SalesTerritoryHistory_BusinessEntityID_StartDate_TerritoryID] PRIMARY KEY CLUSTERED (	[BusinessEntityID], [StartDate], [TerritoryID])
if not exists (select * from sys.key_constraints where name = 'PK_ScrapReason_ScrapReasonID') ALTER TABLE Production.ScrapReason ADD  CONSTRAINT [PK_ScrapReason_ScrapReasonID] PRIMARY KEY CLUSTERED (	[ScrapReasonID])
if not exists (select * from sys.key_constraints where name = 'PK_Shift_ShiftID') ALTER TABLE HumanResources.Shift ADD  CONSTRAINT [PK_Shift_ShiftID] PRIMARY KEY CLUSTERED (	[ShiftID])
if not exists (select * from sys.key_constraints where name = 'PK_ShipMethod_ShipMethodID') ALTER TABLE Purchasing.ShipMethod ADD  CONSTRAINT [PK_ShipMethod_ShipMethodID] PRIMARY KEY CLUSTERED (	[ShipMethodID])
if not exists (select * from sys.key_constraints where name = 'PK_ShoppingCartItem_ShoppingCartItemID') ALTER TABLE Sales.ShoppingCartItem ADD  CONSTRAINT [PK_ShoppingCartItem_ShoppingCartItemID] PRIMARY KEY CLUSTERED (	[ShoppingCartItemID])
if not exists (select * from sys.key_constraints where name = 'PK_SpecialOffer_SpecialOfferID') ALTER TABLE Sales.SpecialOffer ADD  CONSTRAINT [PK_SpecialOffer_SpecialOfferID] PRIMARY KEY CLUSTERED (	[SpecialOfferID])
if not exists (select * from sys.key_constraints where name = 'PK_SpecialOfferProduct_SpecialOfferID_ProductID') ALTER TABLE Sales.SpecialOfferProduct ADD  CONSTRAINT [PK_SpecialOfferProduct_SpecialOfferID_ProductID] PRIMARY KEY CLUSTERED (	[ProductID], [SpecialOfferID])
if not exists (select * from sys.key_constraints where name = 'PK_StateProvince_StateProvinceID') ALTER TABLE Person.StateProvince ADD  CONSTRAINT [PK_StateProvince_StateProvinceID] PRIMARY KEY CLUSTERED (	[StateProvinceID])
if not exists (select * from sys.key_constraints where name = 'PK_Store_BusinessEntityID') ALTER TABLE Sales.Store ADD  CONSTRAINT [PK_Store_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_TransactionHistory_TransactionID') ALTER TABLE Production.TransactionHistory ADD  CONSTRAINT [PK_TransactionHistory_TransactionID] PRIMARY KEY CLUSTERED (	[TransactionID])
if not exists (select * from sys.key_constraints where name = 'PK_TransactionHistoryArchive_TransactionID') ALTER TABLE Production.TransactionHistoryArchive ADD  CONSTRAINT [PK_TransactionHistoryArchive_TransactionID] PRIMARY KEY CLUSTERED (	[TransactionID])
if not exists (select * from sys.key_constraints where name = 'PK_UnitMeasure_UnitMeasureCode') ALTER TABLE Production.UnitMeasure ADD  CONSTRAINT [PK_UnitMeasure_UnitMeasureCode] PRIMARY KEY CLUSTERED (	[UnitMeasureCode])
if not exists (select * from sys.key_constraints where name = 'PK_Vendor_BusinessEntityID') ALTER TABLE Purchasing.Vendor ADD  CONSTRAINT [PK_Vendor_BusinessEntityID] PRIMARY KEY CLUSTERED (	[BusinessEntityID])
if not exists (select * from sys.key_constraints where name = 'PK_WorkOrder_WorkOrderID') ALTER TABLE Production.WorkOrder ADD  CONSTRAINT [PK_WorkOrder_WorkOrderID] PRIMARY KEY CLUSTERED (	[WorkOrderID])
if not exists (select * from sys.key_constraints where name = 'PK_WorkOrderRouting_WorkOrderID_ProductID_OperationSequence') ALTER TABLE Production.WorkOrderRouting ADD  CONSTRAINT [PK_WorkOrderRouting_WorkOrderID_ProductID_OperationSequence] PRIMARY KEY CLUSTERED (	[OperationSequence], [ProductID], [WorkOrderID])